{% extends "base.html" %}

{% block title %}Kayıt Ol{% endblock %}

{% block head_extra_styles %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
            <h2 class="login-title">Kayıt Ol</h2>
            <p class="login-subtitle">Hemen kaydol, matematik eğlencesine başla!</p>
        </div>
    </div>
    <form id="register-form">
        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <div class="class-select-group">
                    <button type="button" class="class-btn" data-class="1">1. Sınıf</button>
                    <button type="button" class="class-btn" data-class="2">2. Sınıf</button>
                    <button type="button" class="class-btn" data-class="3">3. Sınıf</button>
                    <button type="button" class="class-btn" data-class="4">4. Sınıf</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 col-10">
                <input type="text" id="register-firstname" class="form-control login-input" placeholder="Adını yaz" required>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-10">
                <input type="text" id="register-lastname" class="form-control login-input" placeholder="Soyadını yaz" required>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-10">
                <input type="text" id="register-username" class="form-control login-input" placeholder="Kullanıcı adı oluştur" required>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-10">
                <input type="password" id="register-password" class="form-control login-input" placeholder="Şifre oluştur" required>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary login-start-btn mx-auto d-block">Kayıt Ol</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block body_extra_scripts %}
    <script src="/static/js/register.js"></script>
{% endblock %} 